body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #101010;
}

.main {

}

.container {
    display: block;
    background:antiquewhite;
    color: brown;
    height: calc(100vh);
    border-radius: 1%;
    padding: 10px;
}
